/* includes */
@import url('project-views-view.css');
@import url('project-views-support.css');
@import url('pledger-views-donations_overview.css');
@import url('pledger-views-donations_success.css');


/* layout */
body {
    background: url("../img/kf_background.png") repeat-x;
    background-color: #fff;
    position: relative;
}

html, body {
    height:100%;
    min-height: 100%
}

#kf_header-n-content {
    width: 940px;
    min-height: 100%;
    height: auto !important;
    margin: 0 auto;
}

#kf_content {
    margin-bottom: 30px;
}

#kf_push_footer {
    height: 45px;
}

#kf_footer, #kf_push_footer {
    margin: 0 auto;
}

#kf_footer {
    background-color: #fff;
    border-top: 1px solid #c7c7c7;
    height: 44px;
    margin-top: -45px;
    width: 100%;
}


/* general */
* {
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

hr {
    border-top: 1px solid #ccc;
}

a:active, a:visited {
    color: #89b001;
} 

a, a:hover {
    color: #577000;
}

a:active, a:hover {
    text-decoration: underline;
}

a:focus, button:focus, input[type="text"]:focus, input[type="checkbox"]:focus, textarea:focus {
    outline: 0;
}

ul {
    list-style-type: none;
}

button, .button, input[type="text"], input[type="checkbox"], textarea {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

button, .button {
    border: none;
}

.button {
    webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    padding: 8px 15px;
    text-align: center;
}

.button:hover {
    text-decoration: none;
}

.button-small {
    padding: 5px;
}

a.button:hover, a.button:active, a.button:visited {
    color: #3d3d3d;
    text-decoration: none;
}

.gray {
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 5px rgba(50, 50, 50, 0.5);
    -moz-box-shadow:    0px 0px 5px rgba(50, 50, 50, 0.5);
    box-shadow:         0px 0px 5px rgba(50, 50, 50, 0.5);
    color: #3d3d3d;
}

.orange {
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 5px rgba(240, 103, 5, 0.5);
    -moz-box-shadow:    0px 0px 5px rgba(240, 103, 5, 0.5);
    box-shadow:         0px 0px 5px rgba(240, 103, 5, 0.5);
    color: rgb(240, 103, 5);
}

.gray:hover {
    -webkit-box-shadow: 0px 0px 8px rgba(50, 50, 50, 0.5);
    -moz-box-shadow:    0px 0px 8px rgba(50, 50, 50, 0.5);
    box-shadow:         0px 0px 8px rgba(50, 50, 50, 0.5);
}

.orange:hover, .orange:active {
    -webkit-box-shadow: 0px 0px 8px rgba(240, 103, 5, 1);
    -moz-box-shadow:    0px 0px 8px rgba(240, 103, 5, 1);
    box-shadow:         0px 0px 8px rgba(240, 103, 5, 1);
}

.orange:active {
    background-color: rgb(240, 103, 5);
    border: none;
    color: #fff;
}

.orange-bg {
    background-color: #ebbb06;
    display: inline-block;
    padding: 0 5px;
}

/* Header =====================*/

.logo {
    padding-top: 15px;
}

.logo a:hover, .logo a:active {
    text-decoration: none;
}

.logo img {
    vertical-align: top;
/*    background: url("../img/logo.png") no-repeat;*/
}

#kf_bitfund {
    font-size: 22px;
    color: #000;
}

.navbar .nav li {
    color: #3d3d3d;
    padding: 15px 10px 0;
    line-height: 14px;
}

.navbar .nav li:last-child {
    border-left: 1px solid #ccc;
}

.navbar .nav > li > a {
    display: inline-block;
    padding: 0 5px;
}

.navbar .nav > li > a:hover {
    text-decoration: underline;
}

.navbar .nav > li > a:visited, .navbar .nav > li > a:active {
    color: #89b001;
}

.navbar .nav > li > a , .navbar .nav > li > a:hover {
    color: #577000;
}

/* Container ==================*/

/* Index - Available projects */
.masthead {
    padding: 50px 0 20px;
    position: relative;
}

.masthead h1 {
    color: #3d3d3d; 
    margin-bottom: 45px;
    text-transform: uppercase;
}

.masthead h2 {
    font-weight: 100;
    letter-spacing: 1px;
}

.masthead h1:after {
    content: "\25A0";
    color: #f06705; 
    font-size: 20px;
    position: relative;
    top: -30px; 
}

a.about, button.go {
    border: none;
    color: #fff;
}

a.about {
    background: #f06c0c;
    font-size: 18px;
    padding: 8px 26px;
    position: absolute;
    top: 10px;
    right: 0;

}

a.about:hover {
    cursor: pointer;
    text-decoration: none;
} 

button.go {
    background: #577000;
    padding: 5px 9px;
}

.available-projects, .dependent-projects, .project-goals,  .profile-page {
    background-color:   #FFFFFF;
    -webkit-box-shadow: 0px 0px 5px rgba(50, 50, 50, 0.5);
    -moz-box-shadow:    0px 0px 5px rgba(50, 50, 50, 0.5);
    box-shadow:         0px 0px 5px rgba(50, 50, 50, 0.5);
    margin-top: 40px;
    padding: 20px 0;
}

.available-projects {
    padding: 30px;
}

.available-projects .span3 h3 {
    line-height: 25px;
}

.available-projects ul {
    margin-left: 0;
}

.available-projects .span3 > a, .available-projects .span6 ul li > a, .profile-page .span3 > a {
    border: 1px solid #ccc;
    display: block;
    margin-top: 15px;
}

.available-projects .span3 a:hover, .available-projects .span6 ul li > a:hover, .profile-page .span3 a:hover {
    border: 1px solid #89b001;
    text-decoration: none;
}

.available-projects .span3 .media, .available-projects .span6 ul li > a, .profile-page .span3 .media {
    color: #3d3d3d;
    padding: 10px;
    text-align: left;
}

.available-projects .span3 .media, .profile-page .span3 .media {
    height: 55px;
}

.available-projects .media-body, .profile-page .span3 .media {
    line-height: 18px;
}

.available-projects .media-heading, .profile-page .span3 .media-heading {
    font-weight: bold;
    line-height: 18px;
    margin: 0;
}

.available-projects .media-object, .profile-page .span3 .media-object {
    height: 55px;
    width: 55px;
}

.available-projects button.orange {
    padding: 5px 8px;
}

.search-result {
    margin-bottom: 30px;
}

.search-result .span6 .text-center {
    padding-top: 16px;
    padding-left: 10px;
}

.search-result .span6 .text-center span:first-of-type {
    font-weight: bold;
}

.search-result .span6 .span3 {
    padding-top: 6px;
}

.active-state, .achieved-state, .unclaimed-state {
    color: #fff;
    display: inline-block;
    font-size: 10px;
    line-height: 14px;
    text-align: center;
    width: 63px;
}

.active-state {
    background-color: #577000;
}

.achieved-state {
    background-color: #ccc;
}

.unclaimed-state {
    background-color: #f06705;
}

.arrow-left {
    background: url("../img/arrow-left.png") no-repeat center left;
    padding-left: 18px;
}

.arrow-left:hover {
    background: url("../img/arrow-left-hover.png") no-repeat center left;
    padding-left: 18px;
}

.arrow-right {
    background: url("../img/arrow-right.png") no-repeat center right;
    padding-right: 18px;
}

.arrow-right:hover {
    background: url("../img/arrow-right-hover.png") no-repeat center right;
    padding-right: 18px;
}

.support-form h4 {
    margin-bottom: 14px;
}
.support-form h5 {
    margin-top: 4px;
}
/* Dependent projects */

.header {
    display: table;
    margin-bottom: 20px;
    width: 100%;
}

.header .row-fluid {
    display: table-row;
}

.header .row-fluid > * {
    display: table-cell;
    float: none;
}

.header .row-fluid > * {
    vertical-align: middle;
}

noindex:-o-prefocus, .project-attributes {
    padding-left: 20px;
}

noindex:-o-prefocus, .project-meta {
    padding-right: 20px;
}

.project-attributes a:first-child img {
    height: 62px;
    margin: 0 10px;
    width: 62px;
}

.project-attributes a:first-child:hover {
    text-decoration: none;
}

.project-attributes a:last-child, .project-attributes input {
    font-size: 30px;
}

.header > .row-fluid span, .header > .row-fluid a {
    vertical-align: middle;
}

.dependent-projects .project-attributes {
    margin-left: 20px;
}

.depends-on > div, .depending-on > div, .budget-column > div, .goals-column > div {
    padding-top: 20px;
}

.depends-on > h5, .goals-column > h5:first-child {
    border-left: 1px solid #fff;
}

.dependent-projects h5, .budget-column > h5, .goals-column > h5:first-child {
    background-color: #3d3d3d;
    color: #fff;
    height: 45px;
    line-height: 45px;
    margin: 0;
    padding-left: 30px;
}

.depends-on > h5, .depends-on > div, .goals-column > h5:first-child, .goals-column > div {
    margin-left: -20px;
}

.depends-on > div, .goals-column > div:first-of-type {
    border-left: 1px solid #ccc;
}

.dependent-projects ul {
    margin-left: 0;
}

.dependent-projects .project, .goal, .edit-goal {
    border-bottom: 1px solid #ccc;
}

.project , .goal {
    margin: 0 20px 15px;
}

.dependent-projects .media {
    margin-bottom: 15px;
    position: relative;
}

.dependent-projects .media a {
    font-weight: bold;
    color: #3d3d3d;
}

.dependent-projects .media-body span {
    position: absolute;
    top: 0;
    right: 0;
}

.project-crud {
    margin-right: 25px;
}

.project .actions {
    line-height: 10px;
    margin-left: 0;
    padding-top: 20px;
}

.project .actions li {
    display: inline-block;
    padding: 0 10px 10px;
    line-height: 5px;
}

.project .actions li:first-child {
    border-right: 1px solid #ccc;
    padding-right: 15px;
}

.dependency {
    margin: 50px 0 200px;
}

.dependency .button {
    color: rgb(240, 103, 5);
    margin-right: 10px;
}

/* Budget 3 =====================*/

.project-goals {
    padding-bottom:0;
}

.project-goals input {
    height: auto;
    margin-bottom: 0;
}

.edit-goal > .row-fluid:first-of-type .span3 span {
    position: absolute;
    top: 35%;
}

.edit-goal .unpublished, .edit-goal .deleted {
    margin-bottom: 10px;
}

.unpublished, .deleted, .unclaimed {
    display: inline-block;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    padding: 5px;
}

.unclaimed {
    background-color: #f06705;
}

.unpublished {
    background-color: #24c1d0;
}

.deleted {
    background-color: #bd4747;
}

.project-meta a.button, .goals-column .edit-goal button:nth-child(2), .grateful {
    margin-left: 10px;
}

.project-meta form {
    display: inline-block;
    margin-bottom: 0;
}

.budget-column h5 b {
    margin-right: 10px;
}

.month a:hover, a:hover .arrow-left-black, a:hover .arrow-right-black {
    color: #fff;
    text-decoration: none;
}

.arrow-left-black, .arrow-right-black {
    color: #3d3d3d;
    font-family: arial;
    font-size: 14px;
    left: 1px;
    line-height: 16px;
    position: absolute;
    top: 1px;
}

a.arrow-left-white, a.arrow-right-white {
    color: #fff;
    font-family: arial;
   line-height: 16px;
    font-size: 16px;
    position: relative;
}

.budget-column > div {
    margin: 0 15px;
}

.pledged, .backers, .days-to-go {
    font-size: 25px;st
    padding: 15px 0 5px;
}

.chart-div-large, .chart-div-medium, .chart-div-small {
    position: relative;
}

.chart-div-large span, .chart-div-medium span, .chart-div-small span {
    position: absolute;
}

.budget-column .chart-div-large {
    height: 110px;
}

.chart-div-large img {
    height: 85px;
    width: 85px;
}

.chart-div-large span {
    line-height: 85px;
    z-index: 100;
    width: 85px;
}

.chart-div-medium img, .chart-div-small img {
    height: 53px;
    width: 53px;
}

.chart-div-medium span, .chart-div-small span {
    font-size: 12px;
    line-height: 53px;
    width: 53px;
}

ul.chart-div-legend {
    margin-left: 0;
}

.green-marker, .olive-marker, .yellow-marker {
    border-radius: 6px;
    display: inline-block;
    height: 12px;
    margin-right: 5px;
    width: 12px;
}

.green-marker {
    background-color: #577000;
}

.olive-marker {
    background-color: #89b001;
}

.yellow-marker {
    background-color: #ebbb06;
}

.sum-from-sources {
    margin-top: 15px;
}
 
.goals-column .goal:last-of-type, .edit-goal:last-of-type {
    border-bottom: none;
}

.goal, .edit-goal {
    padding-bottom: 20px;
}

.goal .row-fluid, .edit-goal .row-fluid {
    margin-bottom: 15px;
}

.goal > .row-fluid > .span3 div {
    display: table-row;
}

.goal > .row-fluid > .span3 .pull-right > span {
    display: table-cell;
    vertical-align: middle;
}

.edit-goal {
    margin: 0 20px 15px 13px;
}

.edit-goal > .row-fluid:first-of-type .span3 {
    height: 100px;
}

.edit-goal > .row-fluid .span3 {
    position: relative;
}

.edit-goal > .row-fluid .span3 span {
    right: 0;
}

.edit-goal textarea {
    display: block;
    height: 50px;
    margin-right: 0;
    max-width: 475px;
}

.edit-goal .span9 input {
    font-size: 18px;
    margin-bottom: 8px;
}

.edit-goal textarea, .edit-goal .span9 input {
    width: 400px;
}

.sort {
    cursor: move;
}

.goals-column .need-pledge-controls {
    margin-bottom: 10px;
}

.goals-column .need-pledge-controls ul {
    margin-left: 0;
}

.need-pledge-controls li {
    line-height: 35px;
}


.dotted-border a:visited, .support-form h4 a:visited {
    color: #577000;
}

.dotted-border a.active {
    border: none;
    color: #333;
    font-weight: bold;
    font-size: 16px;
}

.dotted-border a, .support-form h4 a {
    border-bottom: 1px dashed #577000;
}

.dotted-border a:hover, .support-form h4 a:hover, .dotted-border a.active, .support-form h4 a:active {
    text-decoration: none;
}

.amount-buttons li, .need-pledge-controls ul li {
    float: left;
    margin-right: 8px;
}

.amount-buttons button {
    background-color: #fff;
    border: 1px solid #ccc;
    -webkit-box-shadow: 0px 0px 3px rgba(50, 50, 50, 0.5);
    -moz-box-shadow:    0px 0px 3px rgba(50, 50, 50, 0.5);
    box-shadow:         0px 0px 3px rgba(50, 50, 50, 0.5);
    color: #577000;
    font-size: 14px;
    height: 35px;
    padding: 0;
    width: 35px;
}

.amount-buttons button:hover, .amount-buttons button:active, .amount-buttons button.active {
    -webkit-box-shadow: 0px 0px 5px rgba(50, 50, 50, 0.5);
    -moz-box-shadow:    0px 0px 5px rgba(50, 50, 50, 0.5);
    box-shadow:         0px 0px 5px rgba(50, 50, 50, 0.5);
}

.amount-buttons button:active, .amount-buttons button.active, .profile-info .button:active {
    border: none;
    background-color: #577000;
    color: #fff;
}


.less-input input {
    margin-bottom: 0;
    width: 200px;
}

.goals-column .centered .gray {
    margin-left: 10px;
}

.maintain {
    font-size: 12px;
    padding-right: 30px;
}

.maintain span  {
    margin-right: 0px;
}

.add-goal {
    position: absolute;
    right: 30px;
    top: 10px;
}

#button-add-need {
    margin-bottom: 20px;
    margin-right: 20px;
}

.current-goals {
    background-color: #f2f2f2;
    padding: 0 30px 30px;
    position: relative;
}

.current-goals .span4 > img:first-child {
    height: 196px;
}

.current-goals .centered div:first-child {
    font-size: 20px;
}

/* Goal =======================*/

.goal-info {
    padding: 0 25px 20px;
    position: relative;
}

.goal-info > .row-fluid {
    position: relative;
}

.goal-info > span:first-of-type {
    font-size: 12px;
    position: absolute;
    top: 10px;
    right: 30px;
}

.goal-info > .row-fluid .span7 {
    width: 530px;
}

.goal-info > .row-fluid > .span5 {
    width: 340px;
}

.goal-info .span7 iframe {
    height: 330px;
    width: 530px;
}

.goal-info .chart-div-large {
    margin-bottom: 10px;
    margin-left:20px;
}

.goal-info .span5 .span4 {
    font-size: 16px;
}

.goal-info .span5 .span3 {
    margin-left: 0;
    width: 85px;
}

.goal-info .span3 div, .goal-info .span4 div, .goal-info .dotted-border, .goal-info form button {
    margin-bottom: 20px;
}

.goal-info form {
    margin: 40px 0 0 20px;
}

.budget-state span {
    display: block;
    font-size: 25px;
}

.goal-info > p {
    margin-top: 20px;
}

.goal-info > p b {
    font-size: 16px;
    font-weight: normal;
}

/* Profile-page own-overview ===============*/

.profile-page {
    padding: 30px;
}

.profile-info {
    margin-bottom: 30px;
    position: relative;
}

.profile-info .span10 .row {
    margin-left: 0;
}

.profile-info .span10 .span3 span {
    font-size: 40px;
    line-height: 40px;
}

.profile-info ul.inline {
    bottom: 0;
    margin-bottom: 0;
    position: absolute;
}

.profile-info ul.inline #create-project-link {
    line-height: 35px;
}

.profile-info .span10 .span3:first-of-type  {
    font-size: 16px;
    line-height: 40px;
}

.profile-page  section .span6 h3 {
    line-height: 25px;
    margin-top: 20px;
}

.profile-page .left > div {
    border-right: 1px solid #ccc;
    padding-right: 20px;
}

.profile-page > .row-fluid > div:first-of-type {
    border-right: 1px solid #ccc;
}

.profile-page dt {
    font-weight: normal;
}

.pledges-history, .pledges-history ul {
    margin-left: 0;
}

.pledges-history li > .legend h4 {
    background-color: #f2f2f2;
    line-height: 30px;
    height: 30px;
    padding: 0 10px;
}

.profile-page .right td:nth-child(odd) {
    border-right: 1px solid #ccc;
    height: 50px;
    padding-right: 10px;
    width: 50px
}

.profile-page .right td:nth-child(even) {
    padding-left: 10px;
}

.profile-page .right td .media-object {
    height: 32px;
    width: 32px;
}

.profile-page .right td i {
    margin-right: 10px;
}
/* Profile-page projects ======*/

.profile-page .projects-band {
    margin: 0 20px;
}

.profile-page .project-attributes {
    margin: 30px 0;
}

.profile-page div.project-attributes img {
    height: 45px;
    width: 45px;
}

.profile-page > div.project-attributes span {
    font-size: 30px;
    vertical-align: middle;
}

.profile-page .span3 a {
    margin-top: 0;
}

.profile-page > table td h3 {
    line-height: 15px;
    margin: 0 0 30px;
}

.profile-page .right dl h4 {
    margin: 0;
}

.profile-page .right dl:last-child, .profile-page table ul {
    margin-bottom: 0;
}

.profile-page table td.left {
    border-right: 1px solid #ccc;
    padding-right: 20px;
    vertical-align: top;
    width: 260px;
}

.profile-page table td.right {
    padding-left: 20px;
}

.profile-page table td.right ul h4 {
    color: #7E7E7E;
}

/* Attach bank card ===========*/

.attach-card form {
    margin: 0 auto 40px;
    width: 320px;
}

.attach-card ul {
    margin-bottom: 30px;
}

.attach-card ul li {
    padding: 0;
}

.attach-card input.large {
    width: 306px;
}

.attach-card input.medium {
    width: 144px;
}

.attach-card input.card-number {
    margin-right: 5px;
    width: 140px;
}

.attach-card ul input.month {
    padding: 4px 5px;
    width: 24px;
}

.attach-card ul input.year {
    margin-right: 5px;
    padding: 4px 5px;
    width: 36px;
}

.attach-card button {
    margin-bottom: 20px;
}

.attach-card p span {
    font-size: 8px;
}

/* Footer =====================*/

.footer {
    padding-top: 18px;
    text-align: center;
}

.footer-links {
    line-height: 12px;
    margin: 0;
}

.footer li {
    border-right: 1px solid #ccc;
    display: inline-block;
    line-height: 8px;
    padding: 0 25px 15px 20px;
}

.footer li:last-child {
    border-right: none;
}

/* general */

.button[disabled], .button[disabled]:hover, .button[disabled]:active, button[disabled], button[disabled]:active, button[disabled]:hover {
    background-color: #fff;
    border: 1px solid #ccc;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    color: #ccc;
    cursor: default;
}
/* bitfund.core.views.login */

.login_form {
    margin: 50px auto 0 auto; 
    width: 300px;
}

.login_form .register_link {
    width: 148px;
    float: left;
}

.login_form .register_link a {
    margin: auto;
    vertical-align: bottom;
}

