/* includes */
@import url('project-views-view.css');
@import url('project-views-support.css');
@import url('pledger-views-donations_overview.css');
@import url('pledger-views-donations_success.css');


/* layout */
body {
    background: url("../img/kf_background.png") repeat-x;
    background-color: #fff;
    font-family: Tahoma, sans-serif;
    position: relative;
}

html, body {
    height:100%;
    min-height: 100%
}

#kf_header-n-content {
    width: 940px;
    min-height: 100%;
    height: auto !important;
    margin: 0 auto;
}

#kf_content {
    margin-bottom: 30px;
}

#kf_push_footer {
    height: 45px;
}

#kf_footer, #kf_push_footer {
    margin: 0 auto;
}

#kf_footer {
    background-color: #fff;
    border-top: 1px solid #c7c7c7;
    height: 44px;
    margin-top: -45px;
    width: 100%;
}

/* general */
* {
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

a:active, a:visited {
    color: #89b001;
} 

a, a:hover {
    color: #577000;
}

a:active, a:hover {
    text-decoration: underline;
}


ul {
    list-style-type: none;
}

button, .button, input[type="text"] {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

button, .button {
    border: none;
}

.button {
    webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    height: 38px;
    padding: 8px 15px;
    text-align: center;
}

.button:hover {
    text-decoration: none;
}

.gray {
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 5px rgba(50, 50, 50, 0.5);
    -moz-box-shadow:    0px 0px 5px rgba(50, 50, 50, 0.5);
    box-shadow:         0px 0px 5px rgba(50, 50, 50, 0.5);
}

.orange {
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 5px rgba(240, 103, 5, 0.5);
    -moz-box-shadow:    0px 0px 5px rgba(240, 103, 5, 0.5);
    box-shadow:         0px 0px 5px rgba(240, 103, 5, 0.5);
    color: rgb(240, 103, 5);
}

.gray:hover {
    -webkit-box-shadow: 0px 0px 8px rgba(50, 50, 50, 0.5);
    -moz-box-shadow:    0px 0px 8px rgba(50, 50, 50, 0.5);
    box-shadow:         0px 0px 8px rgba(50, 50, 50, 0.5);
}

.orange:hover, .orange:active {
    -webkit-box-shadow: 0px 0px 8px rgba(240, 103, 5, 1);
    -moz-box-shadow:    0px 0px 8px rgba(240, 103, 5, 1);
    box-shadow:         0px 0px 8px rgba(240, 103, 5, 1);
}

.orange:active {
    background-color: rgb(240, 103, 5);
    border: none;
    color: #fff;
}


.button[disabled], .button[disabled]:hover, .button[disabled]:active {
    background-color: #fff;
    border: 1px solid #ccc;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    color: #ccc;
    cursor: default;
}

/* Header =====================*/

.logo {
    padding-top: 15px;
}

.logo a:hover {
    text-decoration: none;
}

.logo img {
    vertical-align: top;
/*    background: url("../img/logo.png") no-repeat;*/
}

#kf_bitfund {
    font-size: 22px;
    color: #000;
}

.navbar .nav li {
    color: #3d3d3d;
    padding: 15px 10px 0;
    line-height: 14px;
}

.navbar .nav li:last-child {
    border-left: 1px solid #ccc;
}

.navbar .nav > li > a {
    display: inline-block;
    color: #577000;
    padding: 0 5px;
}

.navbar .nav > li > a:hover {
    color: #577000;
    text-decoration: underline;
}

/* Container ==================*/

/* Page 1 - Available projects */
.centered {
    text-align: center;
}

.banner {
    border: 1px solid #f06805;
    margin: 40px auto 50px;
    padding: 10px;
    position: relative;
}

.banner h1 {
    font-weight: bold;
    color: #3d3d3d; 
    line-height: 20px;
    text-transform: uppercase;

}

.banner h2 {
    color: #6f6f6f;
    font-weight: 100;
    letter-spacing: 1px;
    line-height: 20px;
}

a.about, button.go {
    border: none;
    color: #fff;
}

a.about {
    background-image: linear-gradient(bottom, rgb(240,103,5) 50%, rgb(240,145,12) 60%, rgb(240,145,12) 50%);
    background-image: -o-linear-gradient(bottom, rgb(240,103,5) 50%, rgb(240,145,12) 60%, rgb(240,145,12) 50%);
    background-image: -moz-linear-gradient(bottom, rgb(240,103,5) 50%, rgb(240,145,12) 60%, rgb(240,145,12) 50%);
    background-image: -webkit-linear-gradient(bottom, rgb(240,103,5) 50%, rgb(240,145,12) 60%, rgb(240,145,12) 50%);
    background-image: -ms-linear-gradient(bottom, rgb(240,103,5) 50%, rgb(240,145,12) 60%, rgb(240,145,12) 50%);

    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.5, rgb(240,103,5)),
        color-stop(0.6, rgb(240,145,12)),
        color-stop(0.5, rgb(240,145,12)));
    font-size: 18px;
    padding: 10px 25px;
    position: absolute;
    bottom: 0;
    right: 0;

}

a.about:hover {
    cursor: pointer;
    text-decoration: none;
} 

button.go {
    background-image: linear-gradient(bottom, rgb(88,112,0) 50%, rgb(138,176,1) 60%, rgb(138,176,1) 50%);
    background-image: -o-linear-gradient(bottom, rgb(88,112,0) 50%, rgb(138,176,1) 60%, rgb(138,176,1) 50%);
    background-image: -moz-linear-gradient(bottom, rgb(88,112,0) 50%, rgb(138,176,1) 60%, rgb(138,176,1) 50%);
    background-image: -webkit-linear-gradient(bottom, rgb(88,112,0) 50%, rgb(138,176,1) 60%, rgb(138,176,1) 50%);
    background-image: -ms-linear-gradient(bottom, rgb(88,112,0) 50%, rgb(138,176,1) 60%, rgb(138,176,1) 50%);

    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.5, rgb(88,112,0)),
        color-stop(0.6, rgb(138,176,1)),
        color-stop(0.5, rgb(138,176,1))
    );
    padding: 5px 9px;
    margin-left: 5px;
}

.search-form form {
    padding-bottom: 10px;
}

.available-projects, .dependent-projects, .project-goals {
    background-color:   #FFFFFF;
    -webkit-box-shadow: 0px 0px 5px rgba(50, 50, 50, 0.5);
    -moz-box-shadow:    0px 0px 5px rgba(50, 50, 50, 0.5);
    box-shadow:         0px 0px 5px rgba(50, 50, 50, 0.5);
    padding: 30px;
    margin-top: 40px;
}

.available-projects .row {
    margin-left: -30px;
}

.available-projects .span3 {
    margin-left: 30px;
    width: 196px;
}

.available-projects .span3 h3 {
    line-height: 25px;
}

.available-projects .span3 a {
    border: 1px solid #ccc;
    display: block;
    margin-top: 15px;
}

.available-projects .span3 a:hover {
    border: 1px solid #89b001;
    text-decoration: none;
}

.available-projects .media {
    color: #3d3d3d;
    height: 55px;
    padding: 10px;
    text-align: left;
}

.available-projects .media-object {
    height: 55px;
    width: 55px;
}
/* Page 2 - Dependent projects */

.dependent-projects .project-attributes a:first-child, .project-goals .project-attributes a:first-child {
    height: 62px;
    width: 62px;
}

.dependent-projects .project-attributes a:first-child:hover, .project-goals .project-attributes a:first-child:hover {
    text-decoration: none;
}

.dependent-projects .project-attributes a:last-child, .project-goals .project-attributes a:last-child {
    font-size: 30px;
    margin-left:10px;
    vertical-align: middle;
}

.dependent-projects  .row-fluid h3, .project-goals .row-fluid h3 {
    background-color: #f2f2f2;
    height: 40px;
    padding: 10px 15px;
}

.dependent-projects ul {
    margin-left: 0;
}

.dependent-projects .project {
    border-bottom: 1px solid #ccc;
    margin: 15px 15px 0;
}

.dependent-projects .media {
    margin-bottom: 15px;
    position: relative;
}

.dependent-projects .media a {
    font-weight: bold;
    color: #3d3d3d;
}

.dependent-projects .media-body span {
    position: absolute;
    top: 0;
    right: 0;
}

.add-new {
    margin: 15px;
    text-align: right;
}

.project .actions {
    line-height: 10px;
    margin-left: 0;
    padding-top: 20px;
    text-align: right;
}

.project .actions li {
    display: inline-block;
    padding: 0 10px 10px;
    line-height: 5px;
}

.project .actions li:first-child {
    border-right: 1px solid #ccc;
    padding-right: 15px;
}

.dependency {
    margin: 50px 0 200px;
}

.dependency .button {
    color: rgb(240, 103, 5);
    margin-right: 10px;
}

/* Page 3 =====================*/

.budget-column .month {
    font-size: 16px;
}

.budget-column  > div:last-child {
    padding-right: 10px;
}

.budget-column .pledged, .backers {
    font-size: 25px;
    padding: 15px 0 5px;
}

.chart-div-large {
    background: url("../img/chart_div.png") no-repeat;
    line-height: 85px;
    margin: 0 15px 15px;
    text-align: center;
    
}

.chart-div-medium {
    background: url("../img/need_chart.png") no-repeat;
    display: inline-block;
    font-size: 12px;
    line-height: 53px;
    width: 53px;
    text-align: center;
}

.chart-div-small {
    line-height: 50px;
    font-size: 10px;
}

ul.chart-div-legend {
    font-size: 12px;
    margin-left: 15px;
    
}

ul.chart-div-legend li {
    line-height: 14px;
    padding: 0 15px 10px 20px;
}

ul.chart-div-legend li:nth-child(1) {
    background: url("../img/backers_suport_marker.png") no-repeat 0 8px;
}

ul.chart-div-legend li:nth-child(2) {
    background: url("../img/linked_projects_marker.png") no-repeat 0 8px;
}

ul.chart-div-legend li:nth-child(3) {
    background: url("../img/other_sources_marker.png") no-repeat 0 8px;
}

.sum-from-sources {
    margin-top: 15px;
}

.goal {
    border-bottom: 1px solid #ccc;
    margin: 15px;
    padding-bottom: 20px;
}

.goal .row-fluid {
    margin-bottom: 15px;
}

.goal > .row-fluid > .span3 {
    display: table;
}

.goal > .row-fluid > .span3 span {
    display: table-cell;
    vertical-align: middle;
}

.goals-column div.pull-right {
    margin-right: 20px;
    text-align: right;
}

.need-pledge-controls {
    margin-bottom: 10px;
}

.need-pledge-controls ul {
    margin-left: 0;
}

.need-pledge-controls a, .amount-buttons li:first-child {
    line-height: 35px;
}

.need-pledge-controls a.active {
    border: none;
    color: #333;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
}

.need-pledge-controls a {
    border-bottom: 1px dashed #577000;
}

.need-pledge-controls a:hover {
    text-decoration: none;
}

.need-pledge-controls a:visited {
    color: #577000;
}

.amount-buttons li, .need-pledge-controls ul li {
    float: left;
    margin-right: 5px;
}

.amount-buttons button {
    background-color: #fff;
    border: 1px solid #ccc;
    -webkit-box-shadow: 0px 0px 3px rgba(50, 50, 50, 0.5);
    -moz-box-shadow:    0px 0px 3px rgba(50, 50, 50, 0.5);
    box-shadow:         0px 0px 3px rgba(50, 50, 50, 0.5);
    color: #577000;
    font-size: 14px;
    height: 35px;
    padding: 0;
    width: 35px;
}

.amount-buttons button:hover, .amount-buttons button:active, .amount-buttons button.active {
    -webkit-box-shadow: 0px 0px 5px rgba(50, 50, 50, 0.5);
    -moz-box-shadow:    0px 0px 5px rgba(50, 50, 50, 0.5);
    box-shadow:         0px 0px 5px rgba(50, 50, 50, 0.5);
}

.amount-buttons button:active  {
    border: none;
    background-color: #577000;
    color: #fff;
}

.grateful {
    margin: 20px;
    text-align: right;
}

.grateful .button {
    color: #000;
    margin-left: 10px;
}

.current-goals {
    margin-top: 50px;
}

.current-goals .span4 > img:first-child {
    height: 196px;
}

.current-goals .centered div:first-child {
    font-size: 20px;
}

/* Footer =====================*/

.footer {
    padding-top: 20px;
    text-align: center;
}

.footer-links {
    line-height: 12px;
    margin: 0;
}

.footer li {
    border-right: 1px solid #ccc;
    display: inline-block;
    line-height: 8px;
    padding: 0 25px 15px 20px;
}

.footer li:last-child {
    border-right: none;
}

/* bitfund.core.views.login */

.login_form {
    margin: 50px auto 0 auto; 
    width: 300px;
}

.login_form .register_link {
    width: 148px;
    float: left;
}

.login_form .register_link a {
    margin: auto;
    vertical-align: bottom;
}

