/* includes */
@import url('project-views-view.css');
@import url('project-views-support.css');
@import url('pledger-views-donations_overview.css');
@import url('pledger-views-donations_success.css');


/* layout */
body {
    background: url("../img/kf_background.png") repeat-x;
    background-color: #fff;
    position: relative;
}

html, body {
    height:100%;
    min-height: 100%
}

#kf_header-n-content {
    width: 940px;
    min-height: 100%;
    height: auto !important;
    margin: 0 auto;
}

#kf_content {
    margin-bottom: 30px;
}

#kf_push_footer {
    height: 45px;
}

#kf_footer, #kf_push_footer {
    margin: 0 auto;
}

#kf_footer {
    background-color: #fff;
    border-top: 1px solid #c7c7c7;
    height: 44px;
    margin-top: -45px;
    width: 100%;
}


/* general */
* {
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

a:active, a:visited {
    color: #89b001;
} 

a, a:hover {
    color: #577000;
}

a:active, a:hover {
    text-decoration: underline;
}

a:focus, button:focus, input[type="text"]:focus, textarea:focus {
    outline: 0;
}

ul {
    list-style-type: none;
}

button, .button, input[type="text"], textarea {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

button, .button {
    border: none;
}

.button {
    webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    padding: 8px 15px;
    text-align: center;
}

.button:hover {
    text-decoration: none;
}

.button-small {
    padding: 5px;
}

.gray {
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 5px rgba(50, 50, 50, 0.5);
    -moz-box-shadow:    0px 0px 5px rgba(50, 50, 50, 0.5);
    box-shadow:         0px 0px 5px rgba(50, 50, 50, 0.5);
    color: #3d3d3d;
}

.orange {
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 5px rgba(240, 103, 5, 0.5);
    -moz-box-shadow:    0px 0px 5px rgba(240, 103, 5, 0.5);
    box-shadow:         0px 0px 5px rgba(240, 103, 5, 0.5);
    color: rgb(240, 103, 5);
}

.gray:hover {
    -webkit-box-shadow: 0px 0px 8px rgba(50, 50, 50, 0.5);
    -moz-box-shadow:    0px 0px 8px rgba(50, 50, 50, 0.5);
    box-shadow:         0px 0px 8px rgba(50, 50, 50, 0.5);
}

.orange:hover, .orange:active {
    -webkit-box-shadow: 0px 0px 8px rgba(240, 103, 5, 1);
    -moz-box-shadow:    0px 0px 8px rgba(240, 103, 5, 1);
    box-shadow:         0px 0px 8px rgba(240, 103, 5, 1);
}

.orange:active {
    background-color: rgb(240, 103, 5);
    border: none;
    color: #fff;
}


.button[disabled], .button[disabled]:hover, .button[disabled]:active {
    background-color: #fff;
    border: 1px solid #ccc;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    color: #ccc;
    cursor: default;
}

.orange-bg {
    background-color: #ebbb06;
    display: inline-block;
    padding: 0 5px;
}

/* Header =====================*/

.logo {
    padding-top: 15px;
}

.logo a:hover {
    text-decoration: none;
}

.logo img {
    vertical-align: top;
/*    background: url("../img/logo.png") no-repeat;*/
}

#kf_bitfund {
    font-size: 22px;
    color: #000;
}

.navbar .nav li {
    color: #3d3d3d;
    padding: 15px 10px 0;
    line-height: 14px;
}

.navbar .nav li:last-child {
    border-left: 1px solid #ccc;
}

.navbar .nav > li > a {
    display: inline-block;
    padding: 0 5px;
}

.navbar .nav > li > a:hover {
    text-decoration: underline;
}

.navbar .nav > li > a:visited, .navbar .nav > li > a:active {
    color: #89b001;
}

.navbar .nav > li > a , .navbar .nav > li > a:hover {
    color: #577000;
}

/* Container ==================*/

/* Page 1 - Available projects */
.masthead {
    padding: 50px 0 20px;
    position: relative;
}

.masthead h1 {
    color: #3d3d3d; 
    margin-bottom: 45px;
    text-transform: uppercase;
}

.masthead h2 {
    font-weight: 100;
    letter-spacing: 1px;
}

.masthead h1:after {
    content: "\25A0";
    color: #f06705; 
    font-size: 20px;
    position: relative;
    top: -30px; 
}

a.about, button.go {
    border: none;
    color: #fff;
}

a.about {
    background: #f0910c; /* Old browsers */
    background: -moz-linear-gradient(top, #f0910c 50%, #f06705 50%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#f0910c), color-stop(50%,#f06705)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #f0910c 50%,#f06705 50%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #f0910c 50%,#f06705 50%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #f0910c 50%,#f06705 50%); /* IE10+ */
    background: linear-gradient(to bottom, #f0910c 50%,#f06705 50%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0910c', endColorstr='#f06705',GradientType=0 ); /* IE6-9 */
    font-size: 18px;
    padding: 10px 25px;
    position: absolute;
    top: 10px;
    right: 0;

}

a.about:hover {
    cursor: pointer;
    text-decoration: none;
} 

button.go {
    background: #89b001; /* Old browsers */
    background: -moz-linear-gradient(top, #89b001 50%, #577000 50%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#89b001), color-stop(50%,#577000)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #89b001 50%,#577000 50%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #89b001 50%,#577000 50%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #89b001 50%,#577000 50%); /* IE10+ */
    background: linear-gradient(to bottom, #89b001 50%,#577000 50%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#89b001', endColorstr='#577000',GradientType=0 ); /* IE6-9 */
    padding: 5px 9px;
    margin-left: 5px;
}

.form-inline {
    padding-bottom: 10px;
}

.available-projects, .dependent-projects, .project-goals {
    background-color:   #FFFFFF;
    -webkit-box-shadow: 0px 0px 5px rgba(50, 50, 50, 0.5);
    -moz-box-shadow:    0px 0px 5px rgba(50, 50, 50, 0.5);
    box-shadow:         0px 0px 5px rgba(50, 50, 50, 0.5);
    margin-top: 40px;
    padding: 20px 0;
}

.available-projects {
    padding: 20px 30px;
}

.available-projects .span3 h3 {
    line-height: 25px;
}

.available-projects ul {
    margin-left: 0;
}

.available-projects .span3 > a, .available-projects .span6 ul li > a {
    border: 1px solid #ccc;
    display: block;
    margin-top: 15px;
}

.available-projects .span3 a:hover, .available-projects .span6 ul li > a:hover {
    border: 1px solid #89b001;
    text-decoration: none;
}

.available-projects .span3 .media, .available-projects .span6 ul li > a {
    color: #3d3d3d;
    padding: 10px;
    text-align: left;
}

.available-projects .span3 .media {
    height: 55px;
}

.available-projects .media-object {
    height: 55px;
    width: 55px;
}

.available-projects button.orange {
    padding: 5px 8px;
}

.search-result {
    margin: 30px 0;
}

.search-result .span6 .text-center {
    padding-top: 20px;
    padding-left: 10px;
}

.search-result .span6 .text-center span:first-of-type {
    font-weight: bold;
}

.search-result .span6 .span3 {
    padding-top: 8px;
}

.active-state, .achieved-state, .unclaimed-state {
    color: #fff;
    display: inline-block;
    font-size: 10px;
    line-height: 14px;
    text-align: center;
    width: 63px;
}

.active-state {
    background-color: #577000;
}

.achieved-state {
    background-color: #ccc;
}

.unclaimed-state {
    background-color: #f06705;
}

a.arrow-left-green:hover, .arrow-right-green:hover, a:hover .arrow-left-white-gr, a:hover .arrow-right-white-gr {
    color: #577000;
    text-decoration: none;
}

.arrow-left-white-gr, .arrow-right-white-gr {
    color: #fff;
    font-family: arial;
    font-size: 14px;
    left: 1px;
    line-height: 16px;
    position: absolute;
    top: 1px;
}

a.arrow-left-green, a.arrow-right-green {
    color: #577000;
    font-family: arial;
   line-height: 16px;
    font-size: 16px;
    position: relative;
}

/* Page 2 - Dependent projects */

.header {
    display: table;
    margin-bottom: 20px;
    width: 100%;
}

.header .row-fluid {
    display: table-row;
}

.header .row-fluid > * {
    display: table-cell;
    float: none;
}

.header .row-fluid > * {
    vertical-align: middle;
}

noindex:-o-prefocus, .project-attributes {
    padding-left: 20px;
}

noindex:-o-prefocus, .project-meta {
    padding-right: 20px;
}

.project-attributes a:first-child img {
    height: 62px;
    margin: 0 10px;
    width: 62px;
}

.project-attributes a:first-child:hover {
    text-decoration: none;
}

.project-attributes a:last-child, .project-attributes input {
    font-size: 30px;
}

.header > .row-fluid span, .header > .row-fluid a {
    vertical-align: middle;
}

.dependent-projects .project-attributes {
    margin-left: 20px;
}

.depends-on > div, .depending-on > div, .budget-column > div, .goals-column > div {
    padding-top: 20px;
}

.depends-on > h5, .goals-column > h5:first-child {
    border-left: 1px solid #fff;
}

.dependent-projects h5, .budget-column > h5, .goals-column > h5:first-child {
    background-color: #3d3d3d;
    color: #fff;
    height: 45px;
    line-height: 45px;
    margin: 0;
    padding-left: 30px;
}

.depends-on > h5, .depends-on > div, .goals-column > h5:first-child, .goals-column > div {
    margin-left: -20px;
}

.depends-on > div, .goals-column > div:first-of-type {
    border-left: 1px solid #ccc;
}

.dependent-projects ul {
    margin-left: 0;
}

.dependent-projects .project, .goal, .edit-goal {
    border-bottom: 1px solid #ccc;
}

.project , .goal {
    margin: 0 20px 15px;
}

.dependent-projects .media {
    margin-bottom: 15px;
    position: relative;
}

.dependent-projects .media a {
    font-weight: bold;
    color: #3d3d3d;
}

.dependent-projects .media-body span {
    position: absolute;
    top: 0;
    right: 0;
}

.project-crud {
    margin-right: 25px;
}

.project .actions {
    line-height: 10px;
    margin-left: 0;
    padding-top: 20px;
}

.project .actions li {
    display: inline-block;
    padding: 0 10px 10px;
    line-height: 5px;
}

.project .actions li:first-child {
    border-right: 1px solid #ccc;
    padding-right: 15px;
}

.dependency {
    margin: 50px 0 200px;
}

.dependency .button {
    color: rgb(240, 103, 5);
    margin-right: 10px;
}

/* Page 3 =====================*/

.project-goals {
    padding-bottom:0;
}

.project-goals input {
    height: auto;
    margin-bottom: 0;
}

.edit-goal > .row-fluid:first-of-type .span3 span {
    position: absolute;
    top: 35%;
}

.edit-goal .unpublished, .edit-goal .deleted {
    margin-bottom: 10px;
}

.unpublished, .deleted {
    display: inline-block;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    padding: 5px;
}

.unpublished {
    background-color: #24c1d0;
}

.deleted {
    background-color: #bd4747;
}

.project-meta button, .goals-column .edit-goal button:nth-child(2), .grateful {
    margin-left: 10px;
}

.project-meta form {
    display: inline-block;
    margin-bottom: 0;
}

.budget-column h5 b {
    margin-right: 10px;
}

.month a:hover, a:hover .arrow-left-black, a:hover .arrow-right-black {
    color: #fff;
    text-decoration: none;
}

.arrow-left-black, .arrow-right-black {
    color: #3d3d3d;
    font-family: arial;
    font-size: 14px;
    left: 1px;
    line-height: 16px;
    position: absolute;
    top: 1px;
}

a.arrow-left-white, a.arrow-right-white {
    color: #fff;
    font-family: arial;
   line-height: 16px;
    font-size: 16px;
    position: relative;
}

.budget-column > div {
    margin: 0 15px;
}

.budget-column .pledged, .backers {
    font-size: 25px;
    padding: 15px 0 5px;
}

.chart-div-large {
    background: url("../img/chart_div.png") no-repeat;
    line-height: 85px;
    text-align: center;
    width: 85px;
}

.chart-div-medium {
    background: url("../img/need_chart.png") no-repeat;
    display: inline-block;
    font-size: 12px;
    line-height: 53px;
    width: 53px;
    text-align: center;
}

.chart-div-small {
    line-height: 50px;
    font-size: 10px;
}

ul.chart-div-legend {
    margin-left: 0;
}

.green-marker, .olive-marker, .yellow-marker {
    border-radius: 6px;
    display: inline-block;
    height: 12px;
    margin: 5px 5px 0 0;
    width: 12px;
}

.green-marker {
    background-color: #577000;
}

.olive-marker {
    background-color: #89b001;
}

.yellow-marker {
    background-color: #ebbb06;
}

.sum-from-sources {
    margin-top: 15px;
}
 
.goals-column .goal:last-of-type, .edit-goal:last-of-type {
    border-bottom: none;
}

.goal, .edit-goal {
    padding-bottom: 20px;
}

.goal .row-fluid, .edit-goal .row-fluid {
    margin-bottom: 15px;
}

.goal > .row-fluid > .span3 div {
    display: table-row;
}

.goal > .row-fluid > .span3 div span {
    display: table-cell;
    vertical-align: middle;
}

.edit-goal {
    margin: 0 20px 15px 13px;
}

.edit-goal > .row-fluid:first-of-type .span3 {
    height: 100px;
}

.edit-goal > .row-fluid .span3 {
    position: relative;
}

.edit-goal > .row-fluid .span3 span, .project-meta {
    right: 0;
}

.edit-goal textarea {
    display: block;
    height: 50px;
    margin-right: 0;
    max-width: 475px;
}

.edit-goal .span9 input {
    font-size: 18px;
    margin-bottom: 8px;
}

.edit-goal textarea, .edit-goal .span9 input {
    width: 400px;
}

.sort {
    cursor: move;
}

.need-pledge-controls {
    margin-bottom: 10px;
}

.need-pledge-controls ul {
    margin-left: 0;
}

.need-pledge-controls li {
    line-height: 35px;
}


.need-pledge-controls > .row-fluid a:visited {
    color: #577000;
}

.need-pledge-controls > .row-fluid .span4 a.active {
    border: none;
    color: #333;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
}

.need-pledge-controls > .row-fluid a {
    border-bottom: 1px dashed #577000;
}

.need-pledge-controls > .row-fluid a:hover {
    text-decoration: none;
}

.amount-buttons li, .need-pledge-controls ul li {
    float: left;
    margin-right: 8px;
}

.amount-buttons button {
    background-color: #fff;
    border: 1px solid #ccc;
    -webkit-box-shadow: 0px 0px 3px rgba(50, 50, 50, 0.5);
    -moz-box-shadow:    0px 0px 3px rgba(50, 50, 50, 0.5);
    box-shadow:         0px 0px 3px rgba(50, 50, 50, 0.5);
    color: #577000;
    font-size: 14px;
    height: 35px;
    padding: 0;
    width: 35px;
}

.amount-buttons button:hover, .amount-buttons button:active, .amount-buttons button.active {
    -webkit-box-shadow: 0px 0px 5px rgba(50, 50, 50, 0.5);
    -moz-box-shadow:    0px 0px 5px rgba(50, 50, 50, 0.5);
    box-shadow:         0px 0px 5px rgba(50, 50, 50, 0.5);
}

.amount-buttons button:active, .amount-buttons button.active {
    border: none;
    background-color: #577000;
    color: #fff;
}


.less-input input {
    margin-bottom: 0;
    width: 200px;
}

.goals-column .centered .gray {
    margin-left: 10px;
}

.maintain {
    font-size: 12px;
    padding-right: 30px;
}

.maintain span  {
    margin-right: 0px;
}

.add-goal {
    position: absolute;
    right: 30px;
    top: 10px;
}

#button-add-need {
    margin-bottom: 20px;
    margin-right: 20px;
}

.current-goals {
    background-color: #f2f2f2;
    padding: 0 30px 30px;
    position: relative;
}

.current-goals .span4 > img:first-child {
    height: 196px;
}

.current-goals .centered div:first-child {
    font-size: 20px;
}

/* Footer =====================*/

.footer {
    padding-top: 18px;
    text-align: center;
}

.footer-links {
    line-height: 12px;
    margin: 0;
}

.footer li {
    border-right: 1px solid #ccc;
    display: inline-block;
    line-height: 8px;
    padding: 0 25px 15px 20px;
}

.footer li:last-child {
    border-right: none;
}

/* bitfund.core.views.login */

.login_form {
    margin: 50px auto 0 auto; 
    width: 300px;
}

.login_form .register_link {
    width: 148px;
    float: left;
}

.login_form .register_link a {
    margin: auto;
    vertical-align: bottom;
}

