/* project.views.success */

.kf_pledger-views-donations_success h1{
    color: #000000;
    font-size: 1.6em;
    font-weight:normal;
}

.kf_pledger-views-donations_success .kf_project_title, .kf_pledger-views-donations_success .kf_donation_amount{
	color: #747271;
	font-size: 1.5em;
}

.kf_pledger-views-donations_success .kf_thank_you{
    font-size: 2em;
    padding-top: 100px;
}
