/* project.views.view */

.kf_pledger-views-donations_overview h1{
    color: #000000;
    font-size: 24px;
    font-weight:normal;
}

.kf_pledger-views-donations_overview .kf_project_title .kf_project_logo img{
    display: inline;
    width: 62px;
    height: 62px;
}

.kf_pledger-views-donations_overview .kf_project_item{
	padding-bottom: 10px;
}

.kf_pledger-views-donations_overview .kf_project_item .kf_project_description{
    color: #747271;
    font-size: .7em;
    font-style: italic;
    line-height: 100%;
}


.kf_pledger-views-donations_overview .kf_project_item .kf_support_total{
	width:50px;
	height:11px;
	border:1px solid #AECCEB;
	font-size: .75em;
	font-weight: bold;
}

.kf_pledger-views-donations_overview .kf_project_item .kf_needs_goals_count{
	font-size: .75em;
}

.kf_pledger-views-donations_overview .kf_project_item .kf_pledge_up, .kf_pledger-views-donations_overview .kf_project_item .kf_pledge_down{
	font-size: 1.3em;
	background: #AECCEB;
	border-radius: 50%;
	width:30px;
	height: 20px;
	font-weight:bold;
	color:#FFFFFF;
	display: inline-block;
	cursor: pointer;	
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.kf_pledger-views-donations_overview .kf_project_item .kf_pledge_up span, .kf_pledger-views-donations_overview .kf_project_item .kf_pledge_down span{
	position: relative;
	top:-1px;
	left:-1px;
}

.kf_pledger-views-donations_overview .kf_subheader div{
    margin: 20px auto;
    width:800px;
    text-align: center;
}

.kf_pledger-views-donations_overview .kf_subheader hr{
    width:100%;
    display: inline-block;
    border: 0px;
    border-bottom: 1px dashed #747271;
    padding: 0;
    margin: 0;
}


.kf_pledger-views-donations_overview .kf_total_needsngoals{
	text-align: right;
}

.kf_pledger-views-donations_overview .kf_total_pledged input{
	width:100px;
	height:20px;
	border:1px solid #AECCEB;
	font-size: 1em;
	font-weight: bold;
}


.kf_pledger-views-donations_overview .kf_totals .kf_pledge_up, .kf_pledger-views-donations_overview .kf_totals .kf_pledge_down{
	font-size: 1.6em;
	background: #AECCEB;
	border-radius: 50%;
	width:40px;
	height: 28px;
	font-weight:bold;
	color:#FFFFFF;
	display: inline-block;
	cursor: pointer;	
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.kf_pledger-views-donations_overview .kf_totals .kf_pledge_up span, .kf_pledger-views-donations_overview .kf_totals .kf_pledge_down span{
	position: relative;
	top:3px;
	left:-1px;
}

.kf_pledger-views-donations_overview .kf_checkout a, .kf_pledger-views-donations_overview .kf_checkout a:hover, .kf_pledger-views-donations_overview .kf_checkout a:active{
	display: block;
	width:105px;
	height: 105px;
	background-color: #074585;
	color: #FFFFFF;
	border-radius: 50%;
	margin: auto;
	text-decoration: none;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.kf_pledger-views-donations_overview .kf_checkout a div{
	position: relative;
	top:31px;
	width:93px;
	margin:auto;
	line-height: 90%;
}	





