body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_mouseOver {
    background-image: url('../resources/images/transparent.gif');
}

.u0_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u0_container {
    position:absolute;
    left:751px;
    top:15px;
    width:51px;
    height:20px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:57px;
    height:26px;
}

.u1 {
    position:absolute;
    left:2px;
    top:2px;
    width:47px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_mouseOver {
    background-image: url('../resources/images/transparent.gif');
}

.u2_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u2_container {
    position:absolute;
    left:832px;
    top:15px;
    width:68px;
    height:20px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:74px;
    height:26px;
}

.u3 {
    position:absolute;
    left:2px;
    top:2px;
    width:64px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_mouseOver {
    background-image: url('../Homepage_files/button_u4_mouseOver.png');
}

.u4_disabled {
    background-image: url('../Homepage_files/button_u4_disabled.png');
}

.u4_normal {
    background-image: url('../Homepage_files/button_u4_normal.png');
}

.u4_container {
    position:absolute;
    left:296px;
    top:183px;
    width:174px;
    height:25px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:180px;
    height:31px;
}

.u5 {
    position:absolute;
    left:2px;
    top:4px;
    width:170px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_mouseOver {
    background-image: url('../Homepage_files/button_u6_mouseOver.png');
}

.u6_disabled {
    background-image: url('../Homepage_files/button_u6_disabled.png');
}

.u6_normal {
    background-image: url('../Homepage_files/button_u6_normal.png');
}

.u6_container {
    position:absolute;
    left:629px;
    top:205px;
    width:173px;
    height:25px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:179px;
    height:31px;
}

.u7 {
    position:absolute;
    left:2px;
    top:4px;
    width:169px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8 {
    position:absolute;
    left:296px;
    top:313px;
    width:506px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9_mouseOver {
    background-image: url('../Homepage_files/button_u4_mouseOver.png');
}

.u9_disabled {
    background-image: url('../Homepage_files/button_u4_disabled.png');
}

.u9_normal {
    background-image: url('../Homepage_files/button_u4_normal.png');
}

.u9_container {
    position:absolute;
    left:296px;
    top:227px;
    width:174px;
    height:25px;
}

#u9_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:180px;
    height:31px;
}

.u10 {
    position:absolute;
    left:2px;
    top:4px;
    width:170px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_normal {
    background-image: url('../Homepage_files/image_u11_normal.png');
}

.u11_container {
    position:absolute;
    left:200px;
    top:15px;
    width:192px;
    height:84px;
}

#u11_img {
    position:absolute;
    left:0px;
    top:0px;
    width:192px;
    height:84px;
}

.u12 {
    position:absolute;
    left:2px;
    top:34px;
    width:188px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

