body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../veiw_co_orders_files/image_u0_normal.png');
}

.u0_container {
    position:absolute;
    left:200px;
    top:15px;
    width:192px;
    height:84px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:192px;
    height:84px;
}

.u1 {
    position:absolute;
    left:2px;
    top:34px;
    width:188px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u2 {
    position:absolute;
    left:201px;
    top:182px;
    width:704px;
    height:344px
}

.u3_normal {
    background-image: url('../veiw_co_orders_files/u3_normal.png');
}

.u3_container {
    position:absolute;
    left:0px;
    top:0px;
    width:102px;
    height:20px;
}

#u3_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:108px;
    height:26px;
}

.u4 {
    position:absolute;
    left:2px;
    top:2px;
    width:98px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5_normal {
    background-image: url('../veiw_co_orders_files/u5_normal.png');
}

.u5_container {
    position:absolute;
    left:102px;
    top:0px;
    width:100px;
    height:20px;
}

#u5_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u6 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_normal {
    background-image: url('../veiw_co_orders_files/u7_normal.png');
}

.u7_container {
    position:absolute;
    left:202px;
    top:0px;
    width:161px;
    height:20px;
}

#u7_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:167px;
    height:26px;
}

.u8 {
    position:absolute;
    left:2px;
    top:2px;
    width:157px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9_normal {
    background-image: url('../veiw_co_orders_files/u5_normal.png');
}

.u9_container {
    position:absolute;
    left:363px;
    top:0px;
    width:100px;
    height:20px;
}

#u9_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u10 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_normal {
    background-image: url('../veiw_co_orders_files/u11_normal.png');
}

.u11_container {
    position:absolute;
    left:463px;
    top:0px;
    width:236px;
    height:20px;
}

#u11_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:242px;
    height:26px;
}

.u12 {
    position:absolute;
    left:2px;
    top:2px;
    width:232px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13_normal {
    background-image: url('../veiw_co_orders_files/u13_normal.png');
}

.u13_container {
    position:absolute;
    left:0px;
    top:20px;
    width:102px;
    height:20px;
}

#u13_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:108px;
    height:26px;
}

.u14 {
    position:absolute;
    left:2px;
    top:2px;
    width:98px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15_normal {
    background-image: url('../veiw_co_orders_files/u15_normal.png');
}

.u15_container {
    position:absolute;
    left:102px;
    top:20px;
    width:100px;
    height:20px;
}

#u15_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u16 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17_normal {
    background-image: url('../veiw_co_orders_files/u17_normal.png');
}

.u17_container {
    position:absolute;
    left:202px;
    top:20px;
    width:161px;
    height:20px;
}

#u17_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:167px;
    height:26px;
}

.u18 {
    position:absolute;
    left:2px;
    top:2px;
    width:157px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19_normal {
    background-image: url('../veiw_co_orders_files/u15_normal.png');
}

.u19_container {
    position:absolute;
    left:363px;
    top:20px;
    width:100px;
    height:20px;
}

#u19_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u20 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21_normal {
    background-image: url('../veiw_co_orders_files/u21_normal.png');
}

.u21_container {
    position:absolute;
    left:463px;
    top:20px;
    width:236px;
    height:20px;
}

#u21_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:242px;
    height:26px;
}

.u22 {
    position:absolute;
    left:2px;
    top:2px;
    width:232px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23_normal {
    background-image: url('../veiw_co_orders_files/u23_normal.png');
}

.u23_container {
    position:absolute;
    left:0px;
    top:40px;
    width:102px;
    height:20px;
}

#u23_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:108px;
    height:26px;
}

.u24 {
    position:absolute;
    left:2px;
    top:2px;
    width:98px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25_normal {
    background-image: url('../veiw_co_orders_files/u25_normal.png');
}

.u25_container {
    position:absolute;
    left:102px;
    top:40px;
    width:100px;
    height:20px;
}

#u25_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u26 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27_normal {
    background-image: url('../veiw_co_orders_files/u27_normal.png');
}

.u27_container {
    position:absolute;
    left:202px;
    top:40px;
    width:161px;
    height:20px;
}

#u27_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:167px;
    height:26px;
}

.u28 {
    position:absolute;
    left:2px;
    top:2px;
    width:157px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29_normal {
    background-image: url('../veiw_co_orders_files/u25_normal.png');
}

.u29_container {
    position:absolute;
    left:363px;
    top:40px;
    width:100px;
    height:20px;
}

#u29_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u30 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31_normal {
    background-image: url('../veiw_co_orders_files/u31_normal.png');
}

.u31_container {
    position:absolute;
    left:463px;
    top:40px;
    width:236px;
    height:20px;
}

#u31_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:242px;
    height:26px;
}

.u32 {
    position:absolute;
    left:2px;
    top:2px;
    width:232px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33_normal {
    background-image: url('../veiw_co_orders_files/u13_normal.png');
}

.u33_container {
    position:absolute;
    left:0px;
    top:60px;
    width:102px;
    height:20px;
}

#u33_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:108px;
    height:26px;
}

.u34 {
    position:absolute;
    left:2px;
    top:2px;
    width:98px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35_normal {
    background-image: url('../veiw_co_orders_files/u15_normal.png');
}

.u35_container {
    position:absolute;
    left:102px;
    top:60px;
    width:100px;
    height:20px;
}

#u35_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u36 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37_normal {
    background-image: url('../veiw_co_orders_files/u17_normal.png');
}

.u37_container {
    position:absolute;
    left:202px;
    top:60px;
    width:161px;
    height:20px;
}

#u37_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:167px;
    height:26px;
}

.u38 {
    position:absolute;
    left:2px;
    top:2px;
    width:157px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39_normal {
    background-image: url('../veiw_co_orders_files/u15_normal.png');
}

.u39_container {
    position:absolute;
    left:363px;
    top:60px;
    width:100px;
    height:20px;
}

#u39_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u40 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41_normal {
    background-image: url('../veiw_co_orders_files/u21_normal.png');
}

.u41_container {
    position:absolute;
    left:463px;
    top:60px;
    width:236px;
    height:20px;
}

#u41_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:242px;
    height:26px;
}

.u42 {
    position:absolute;
    left:2px;
    top:2px;
    width:232px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43_normal {
    background-image: url('../veiw_co_orders_files/u23_normal.png');
}

.u43_container {
    position:absolute;
    left:0px;
    top:80px;
    width:102px;
    height:20px;
}

#u43_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:108px;
    height:26px;
}

.u44 {
    position:absolute;
    left:2px;
    top:2px;
    width:98px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45_normal {
    background-image: url('../veiw_co_orders_files/u25_normal.png');
}

.u45_container {
    position:absolute;
    left:102px;
    top:80px;
    width:100px;
    height:20px;
}

#u45_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u46 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47_normal {
    background-image: url('../veiw_co_orders_files/u27_normal.png');
}

.u47_container {
    position:absolute;
    left:202px;
    top:80px;
    width:161px;
    height:20px;
}

#u47_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:167px;
    height:26px;
}

.u48 {
    position:absolute;
    left:2px;
    top:2px;
    width:157px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49_normal {
    background-image: url('../veiw_co_orders_files/u25_normal.png');
}

.u49_container {
    position:absolute;
    left:363px;
    top:80px;
    width:100px;
    height:20px;
}

#u49_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u50 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51_normal {
    background-image: url('../veiw_co_orders_files/u31_normal.png');
}

.u51_container {
    position:absolute;
    left:463px;
    top:80px;
    width:236px;
    height:20px;
}

#u51_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:242px;
    height:26px;
}

.u52 {
    position:absolute;
    left:2px;
    top:2px;
    width:232px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53_normal {
    background-image: url('../veiw_co_orders_files/u13_normal.png');
}

.u53_container {
    position:absolute;
    left:0px;
    top:100px;
    width:102px;
    height:20px;
}

#u53_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:108px;
    height:26px;
}

.u54 {
    position:absolute;
    left:2px;
    top:2px;
    width:98px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55_normal {
    background-image: url('../veiw_co_orders_files/u15_normal.png');
}

.u55_container {
    position:absolute;
    left:102px;
    top:100px;
    width:100px;
    height:20px;
}

#u55_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u56 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57_normal {
    background-image: url('../veiw_co_orders_files/u17_normal.png');
}

.u57_container {
    position:absolute;
    left:202px;
    top:100px;
    width:161px;
    height:20px;
}

#u57_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:167px;
    height:26px;
}

.u58 {
    position:absolute;
    left:2px;
    top:2px;
    width:157px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59_normal {
    background-image: url('../veiw_co_orders_files/u15_normal.png');
}

.u59_container {
    position:absolute;
    left:363px;
    top:100px;
    width:100px;
    height:20px;
}

#u59_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u60 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61_normal {
    background-image: url('../veiw_co_orders_files/u21_normal.png');
}

.u61_container {
    position:absolute;
    left:463px;
    top:100px;
    width:236px;
    height:20px;
}

#u61_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:242px;
    height:26px;
}

.u62 {
    position:absolute;
    left:2px;
    top:2px;
    width:232px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63_normal {
    background-image: url('../veiw_co_orders_files/u23_normal.png');
}

.u63_container {
    position:absolute;
    left:0px;
    top:120px;
    width:102px;
    height:20px;
}

#u63_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:108px;
    height:26px;
}

.u64 {
    position:absolute;
    left:2px;
    top:2px;
    width:98px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u65_normal {
    background-image: url('../veiw_co_orders_files/u25_normal.png');
}

.u65_container {
    position:absolute;
    left:102px;
    top:120px;
    width:100px;
    height:20px;
}

#u65_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u66 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u67_normal {
    background-image: url('../veiw_co_orders_files/u27_normal.png');
}

.u67_container {
    position:absolute;
    left:202px;
    top:120px;
    width:161px;
    height:20px;
}

#u67_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:167px;
    height:26px;
}

.u68 {
    position:absolute;
    left:2px;
    top:2px;
    width:157px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u69_normal {
    background-image: url('../veiw_co_orders_files/u25_normal.png');
}

.u69_container {
    position:absolute;
    left:363px;
    top:120px;
    width:100px;
    height:20px;
}

#u69_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u70 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u71_normal {
    background-image: url('../veiw_co_orders_files/u31_normal.png');
}

.u71_container {
    position:absolute;
    left:463px;
    top:120px;
    width:236px;
    height:20px;
}

#u71_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:242px;
    height:26px;
}

.u72 {
    position:absolute;
    left:2px;
    top:2px;
    width:232px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u73_normal {
    background-image: url('../veiw_co_orders_files/u13_normal.png');
}

.u73_container {
    position:absolute;
    left:0px;
    top:140px;
    width:102px;
    height:20px;
}

#u73_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:108px;
    height:26px;
}

.u74 {
    position:absolute;
    left:2px;
    top:2px;
    width:98px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u75_normal {
    background-image: url('../veiw_co_orders_files/u15_normal.png');
}

.u75_container {
    position:absolute;
    left:102px;
    top:140px;
    width:100px;
    height:20px;
}

#u75_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u76 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u77_normal {
    background-image: url('../veiw_co_orders_files/u17_normal.png');
}

.u77_container {
    position:absolute;
    left:202px;
    top:140px;
    width:161px;
    height:20px;
}

#u77_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:167px;
    height:26px;
}

.u78 {
    position:absolute;
    left:2px;
    top:2px;
    width:157px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u79_normal {
    background-image: url('../veiw_co_orders_files/u15_normal.png');
}

.u79_container {
    position:absolute;
    left:363px;
    top:140px;
    width:100px;
    height:20px;
}

#u79_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u80 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u81_normal {
    background-image: url('../veiw_co_orders_files/u21_normal.png');
}

.u81_container {
    position:absolute;
    left:463px;
    top:140px;
    width:236px;
    height:20px;
}

#u81_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:242px;
    height:26px;
}

.u82 {
    position:absolute;
    left:2px;
    top:2px;
    width:232px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u83_normal {
    background-image: url('../veiw_co_orders_files/u23_normal.png');
}

.u83_container {
    position:absolute;
    left:0px;
    top:160px;
    width:102px;
    height:20px;
}

#u83_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:108px;
    height:26px;
}

.u84 {
    position:absolute;
    left:2px;
    top:2px;
    width:98px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u85_normal {
    background-image: url('../veiw_co_orders_files/u25_normal.png');
}

.u85_container {
    position:absolute;
    left:102px;
    top:160px;
    width:100px;
    height:20px;
}

#u85_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u86 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u87_normal {
    background-image: url('../veiw_co_orders_files/u27_normal.png');
}

.u87_container {
    position:absolute;
    left:202px;
    top:160px;
    width:161px;
    height:20px;
}

#u87_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:167px;
    height:26px;
}

.u88 {
    position:absolute;
    left:2px;
    top:2px;
    width:157px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u89_normal {
    background-image: url('../veiw_co_orders_files/u25_normal.png');
}

.u89_container {
    position:absolute;
    left:363px;
    top:160px;
    width:100px;
    height:20px;
}

#u89_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u90 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u91_normal {
    background-image: url('../veiw_co_orders_files/u31_normal.png');
}

.u91_container {
    position:absolute;
    left:463px;
    top:160px;
    width:236px;
    height:20px;
}

#u91_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:242px;
    height:26px;
}

.u92 {
    position:absolute;
    left:2px;
    top:2px;
    width:232px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u93_normal {
    background-image: url('../veiw_co_orders_files/u13_normal.png');
}

.u93_container {
    position:absolute;
    left:0px;
    top:180px;
    width:102px;
    height:20px;
}

#u93_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:108px;
    height:26px;
}

.u94 {
    position:absolute;
    left:2px;
    top:2px;
    width:98px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u95_normal {
    background-image: url('../veiw_co_orders_files/u15_normal.png');
}

.u95_container {
    position:absolute;
    left:102px;
    top:180px;
    width:100px;
    height:20px;
}

#u95_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u96 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u97_normal {
    background-image: url('../veiw_co_orders_files/u17_normal.png');
}

.u97_container {
    position:absolute;
    left:202px;
    top:180px;
    width:161px;
    height:20px;
}

#u97_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:167px;
    height:26px;
}

.u98 {
    position:absolute;
    left:2px;
    top:2px;
    width:157px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u99_normal {
    background-image: url('../veiw_co_orders_files/u15_normal.png');
}

.u99_container {
    position:absolute;
    left:363px;
    top:180px;
    width:100px;
    height:20px;
}

#u99_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u100 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u101_normal {
    background-image: url('../veiw_co_orders_files/u21_normal.png');
}

.u101_container {
    position:absolute;
    left:463px;
    top:180px;
    width:236px;
    height:20px;
}

#u101_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:242px;
    height:26px;
}

.u102 {
    position:absolute;
    left:2px;
    top:2px;
    width:232px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u103_normal {
    background-image: url('../veiw_co_orders_files/u103_normal.png');
}

.u103_container {
    position:absolute;
    left:0px;
    top:200px;
    width:102px;
    height:139px;
}

#u103_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:108px;
    height:145px;
}

.u104 {
    position:absolute;
    left:2px;
    top:2px;
    width:98px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u105_normal {
    background-image: url('../veiw_co_orders_files/u105_normal.png');
}

.u105_container {
    position:absolute;
    left:102px;
    top:200px;
    width:100px;
    height:139px;
}

#u105_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:145px;
}

.u106 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u107_normal {
    background-image: url('../veiw_co_orders_files/u107_normal.png');
}

.u107_container {
    position:absolute;
    left:202px;
    top:200px;
    width:161px;
    height:139px;
}

#u107_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:167px;
    height:145px;
}

.u108 {
    position:absolute;
    left:2px;
    top:2px;
    width:157px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u109_normal {
    background-image: url('../veiw_co_orders_files/u105_normal.png');
}

.u109_container {
    position:absolute;
    left:363px;
    top:200px;
    width:100px;
    height:139px;
}

#u109_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:145px;
}

.u110 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u111_normal {
    background-image: url('../veiw_co_orders_files/u111_normal.png');
}

.u111_container {
    position:absolute;
    left:463px;
    top:200px;
    width:236px;
    height:139px;
}

#u111_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:242px;
    height:145px;
}

.u112 {
    position:absolute;
    left:2px;
    top:2px;
    width:232px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

